/* http://design-seeds.com/index.php/home/entry/market-hues11 */
body {
background-color:#e8d0dc;
color:#824167;
font-family:Georgia, Tahoma, Helvetica, Copperplate, Palatino, Arial, Verdana;
margin-left:auto;
margin-right:auto;
margin-top:2px;
text-align:left;
overflow-x:hidden;
overflow-y:hidden;
font-size:1em;
width:100%;
padding:0;
}

#loginPage {
width:100%;
margin-left:auto;
margin-right:auto;
border-radius:1em;
text-align:Center;
padding:1em;
}

h1 {
margin-top:.1em;
color:#824167;
font-size:1.1em;
}

form select {
font-family:Georgia,Tahoma, Helvetica;
width:200px;
font-size:1.2em;
}

#loginForm table {
margin-top:1em;
margin-left:auto;
margin-right:auto;
border:3px solid #824167;
background-color:#FFF;
font-size:1.2em;
border-radius:1em;
padding:1em;
}

input[type="submit"],input[type="button"] {
margin-top:.8em;
margin-bottom:.1em;
width:100px;
border:outset 1px #824167;
background:#FFF;
color:#824167;
font-family:Georgia;
font-size:1em;
cursor:pointer;
font-weight:700;
border-radius:.5em;
padding:6px;
}

li input[type="button"] {
color:#FFF;
background-color:#824167;
width:98%;
font-size:1.2em;
text-align:left;
border-radius:0;
padding:18px 6px;
}

.mainform {
width:100%;
}

.header {
position:relative;
float:left;
width:100%;
}

.artbody {
position:relative;
float:left;
width:100%;
margin-top:.1em;
margin-bottom:.1em;
padding-top:.1em;
padding-bottom:.1em;
border-top:1px solid #824167;
}

.header label,.artbody label {
font-size:1.2em;
margin-right:.3em;
}

.footer {
position:absolute;
top:90%;
left:1%;
width:98%;
border-top:1px solid #824167;
margin-top:3px;
}

.bigfooter {
position:absolute;
top:81%;
left:1%;
width:98%;
border-top:1px solid #824167;
margin-top:3px;
}

.maintable {
margin-top:1em;
border:1px solid #824167;
background-color:#FFF;
border-radius:.5em;
width:98%;
margin-left:auto;
margin-right:auto;
padding:.5em;
}

.maintable input[type="button"] {
width:60px;
border-radius:.2em;
margin-top:0;
margin-bottom:0;
margin-left:20px;
}

#lblnoofass {
margin-left:1em;
}

#menu {
margin-left:.5em;
}

#menu ul {
margin-top:1em;
padding-left:2px;
padding-right:2px;
}

#menu li,#menu li.pressed {
list-style:none;
padding:0 2px;
}

input[type="submit"].discrete {
border:none;
width:1px;
background-color:transparent;
}

#ltver {
width:150px;
}

.focused {
background-color:#e8d0dc;
color:#13213b;
}

.loaded {
color:#006400;
}

input[type="button"][value="V"],input[type="button"][value="^"],input[type="button"][value="+"],input[type="button"][value="-"] {
width:60px;
font-size:1.2em;
border-radius:.2em;
margin-right:20px;
margin-top:.2em;
margin-bottom:.2em;
}

td,th {
text-align:left;
font-weight:700;
white-space:nowrap;
padding:4px;
}

td label {
font-weight:400;
}

input[type="text"] {
font-family:Georgia, Tahoma, Helvetica;
}

input[type="text"]:not(.scanfield) {
font-size:1.2em;
width:100px;
}

input[type="text"].long {
width:200px;
}

input[type="text"].short {
width:50px;
}

input[type="text"].verylong {
width:400px;
}

td input[type="text"] {
font-size:1em;
margin-top:0;
margin-bottom:0;
}

input[readonly="readonly"] {
background-color:transparent;
width:5em;
border-color:transparent;
border-style:solid;
border-width:1px;
}

caption {
font-weight:700;
font-size:1em;
}

#reasoncodesbody,#activitycodesbody {
overflow-y:auto;
overflow-x:auto;
position:relative;
float:left;
width:98%;
height:500px;
margin-top:.1em;
margin-bottom:.1em;
padding-top:.1em;
padding-bottom:.1em;
}

#tblreasoncodes input[type="button"],#tblactivitycodes input[type="button"] {
margin-top:1em;
width:200px;
height:60px;
border:outset 1px #824167;
background:#FFF;
font-size:1em;
cursor:pointer;
font-weight:700;
border-radius:.5em;
padding:6px;
}

#assbelow {
position:absolute;
top:62%;
width:100%;
margin-top:3px;
}

label.biglabel {
font-size:1.5em;
}

th {
background-color:#824167;
color:#FFF;
font-size:1em;
}

.scanfield {
font-size:1.5em;
margin-left:.5em;
width:300px;
border:1px solid #824167;
}

.hide {
display:none;
z-index:-1;
}

.messageshown {
position:absolute;
left:45%;
top:40%;
text-align:center;
width:300px;
display:block;
color:#824167;
border:solid 3px #824167;
border-radius:.5em;
background-color:#FFF;
font-weight:700;
z-index:3;
margin:.5em auto .2em;
padding:10px;
}

.progress {
height:40px;
position:absolute;
left:45%;
top:40%;
font-size:1.5em;
background-color:#FFF;
border:3px solid #824167;
border-radius:1em;
display:block;
z-index:2;
margin:auto;
padding:25px 50px;
}

#loginForm input[type="text"],#loginForm input[type="password"],#artparameters input[type="text"],.header select {
width:200px;
font-size:1.2em;
}

td.num,input[type="text"].num {
text-align:right;
}

.rightadjustedbtn,.rightadjusted {
position:relative;
float:right;
}