body {
background-color:#d6e8f6;
color:#13213b;
font-family:Copperplate, Palatino, Arial, Verdana, Helvetica;
margin-left:auto;
margin-right:auto;
margin-top:0;
text-align:left;
overflow-x:hidden;
overflow-y:hidden;
font-size:1em;
width:100%;
padding:0;
}

#loginPage {
width:100%;
margin-left:auto;
margin-right:auto;
border-radius:1em;
text-align:Center;
padding:1em;
}

h1 {
font-size:1.2em;
color:#13213b;
}

#loginForm table {
margin-top:1em;
margin-left:auto;
margin-right:auto;
border:3px solid #294d78;
background-color:#FFF;
font-size:1.2em;
box-shadow:0 0 1em rgba(0,0,0,0.5);
-moz-box-shadow:0 0 1em rgba(0,0,0,0.5);
-webkit-box-shadow:0 0 1em rgba(0,0,0,0.5);
padding:1em;
}

input[type="submit"],input[type="button"] {
margin-top:.5em;
margin-bottom:.1em;
width:100px;
border:outset 1px #294d78;
background:#FFF;
color:#13213b;
font-size:1em;
cursor:pointer;
font-weight:700;
border-radius:.5em;
padding:6px;
}

li input[type="button"] {
color:#FFF;
background-color:#294d78;
width:98%;
font-size:1.2em;
text-align:left;
border-radius:0;
padding:20px 6px;
}

.mainform {
width:100%;
margin-left:auto;
margin-right:auto;
}

.header {
position:relative;
float:left;
width:100%;
}

.artbody {
position:relative;
float:left;
width:100%;
margin-top:.1em;
margin-bottom:.1em;
padding-top:.1em;
padding-bottom:.1em;
border-top:1px solid #294d78;
}

.header label,.artbody label {
font-size:1.2em;
margin-right:.3em;
}

.footer {
position:absolute;
top:90%;
left:1%;
width:98%;
border-top:1px solid #294d78;
margin-top:3px;
}

.bigfooter {
position:absolute;
top:82%;
left:1%;
width:98%;
border-top:1px solid #294d78;
margin-top:3px;
}

.maintable {
margin-top:1em;
border:1px solid #294d78;
background-color:#FFF;
border-radius:.5em;
width:98%;
margin-left:auto;
margin-right:auto;
padding:.5em;
}

.maintable input[type="button"] {
width:60px;
border-radius:.2em;
margin-top:0;
margin-bottom:0;
margin-left:20px;
}

.table {
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
}


#menu {
margin-left:.5em;
}

#menu ul {
margin-top:1em;
padding-left:2px;
padding-right:2px;
}

#menu li,#menu li.pressed {
list-style:none;
padding-left:2px;
padding-right:2px;
padding-top:.5em;
}

input[type="submit"].discrete {
border:none;
width:1px;
background-color:transparent;
}

/*

.focused {
background-color:#d6e8f6;
color:#13213b;
}

.loaded {
color:#8B0000;
}

*/

input[type="button"][value="V"],input[type="button"][value="^"],input[type="button"][value="+"],input[type="button"][value="-"] {
width:60px;
font-size:1.2em;
border-radius:.2em;
margin-right:20px;
margin-top:.2em;
margin-bottom:.2em;
}

/*
td,th {
text-align:left;
font-weight:700;
padding:4px;
}

th {
background-color:#294d78;
color:#FFF;
font-size:1.2em;
}
*/

td.num {
text-align:right;
}

.hide {
display:none;
z-index:-1;
}

.messageshown {
position:absolute;
left:35%;
top:40%;
z-index:2;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-top:.5em;
width:300px;
display:block;
color:#8B0000;
border:solid 3px #8B0000;
border-radius:.5em;
background-color:#FFF;
font-weight:700;
padding:10px;
}

.progress {
height:40px;
position:absolute;
left:45%;
top:40%;
font-size:1.5em;
background-color:#FFF;
border:3px solid #294d78;
border-radius:1em;
display:block;
z-index:2;
margin:auto;
padding:25px 50px;
}

form select,#loginForm input[type="text"],#loginForm input[type="password"],#artparameters input[type="text"],.header select {
width:200px;
font-size:1.2em;
}

.rightadjustedbtn,.rightadjusted {
position:relative;
float:right;
}
