bnlbot/botstart/bot-1-0/script/bash/last_run_keeep_alive.dat
bnlbot/botstart/bot-1-0/source/ada/global/c_constants.ads
bnlbot/botstart/bot-1-0/source/ada/global/tables/
bnlbot/botstart/bot-1-0/source/ada/local/bot/bot_svn_info.ads
bnlbot/botstart/bot-1-0/source/ada/make.log
bnlbot/botstart/bot-1-0/source/ada/svn.info
bnlbot/botstart/bot-1-0/target/
bnlbot/botstart/data/
bnlbot/botstart/user/
.DS_Store
