last_run_keeep_alive.dat
source/ada/global/c_constants.ads
source/ada/global/tables/
source/ada/local/bot/bot_svn_info.ads
source/ada/make.log
source/ada/svn.info
target/
user/
**/.DS_Store
history/
**nohup.out
source/ada/.clang-format
source/ada/.vscode/
script/bash/last_run_keeep_alive.dat
script/bash/tbl.sql
source/ada/bot_ws/html/bnl
source/ada/bot_ws/html/jmb
source/ada/bot_ws/html/msm
source/ada/global/c_constants.ads
source/ada/global/tables/
source/ada/make.log
sslcert/web_sessions.dat

