[DEFAULT]
client_file_path = /home/user/nonobet_data

# Postgresql db engine
client_db_url = postgresql://test-db:test-db@localhost:5432/test-db

# SQLite db engine (relative path)
#client_db_url = sqlite:///nonobet.db

# SQLite db engine (absolute path)
#client_db_url = sqlite:////absolute/path/to/foo.db

# SQLite db engine (memory)
#client_db_url = sqlite://

client_db_init = no
server_sync_do = no
server_sync_dir = .server_sync
server_sync_url = http://nonobet.com/files
