[DEFAULT]
client_file_path = /home/user/nonobet_data
client_db_url = postgresql://test-db:test-db@localhost:5432/test-db
client_db_init = no

server_sync_do = no
server_sync_dir = .server_sync
server_sync_url = http://nonobet.com/files
