[Unit]
#place in /etc/systemd/services
#Then run systemctl daemon-reload and systemctl enable betbot.service --now.
#may give errors, check with
#systemctl list-unit-files | grep betbot

Description=Kills all daemons for betbot on shutdown/reboot
ConditionPathIsDirectory=/bnlbot/botstart
DefaultDependencies=no
Before=umount.target


[Service]
Type=oneshot
ExecStart=/bnlbot/botstart/bot-1-0/script/bash/kill_all_bots.bash

[Install]
WantedBy=reboot.target halt.target poweroff.target



